[Unit]
Description = Watch Button RPi service
After=rpi_swupdate.service
ConditionPathExists=/home/pi/Prog/bin

[Service]
ExecStart=/home/pi/Prog/bin/rpi_watchbtn.sh
Type=simple
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

