[Unit]
Description = Nayuta RPi prepare
After=rpi_watchbtn.service
ConditionPathExists=/home/pi/Prog/bin

[Service]
ExecStart=/home/pi/Prog/bin/rpi_prepare.sh
Type=oneshot
RemainAfterExit=yes
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

